server:
  port: 8080

spring:

  application:
    name: user-notes-backend

  datasource:
    url: "jdbc:postgresql://localhost:5432/user-notes-manager"
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  security:
    user:
      name: user
      password: password

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

jwt:
  secret-key: "very-scary-secret-G8K7USA78JGEAw78ujeawtgr78UJHATEw78juhnaetW87NUJTAEW87juhatew8JU7H87UJH"
  access-lifetime: 240000 # 1 hour = 36000000
  refresh-lifetime: 24000000 # 1 week = 604800000