server:
  port: 8081

spring:

  application:
    name: user-notes-mail-sender

  main:
    banner-mode: off

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    test-connection: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}
    listener:
      ack-mode: record
    consumer:
      group-id: mail-sender-consumer-group
      auto-offset-reset: earliest